* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* to box */
}
body {
  font-family: "Merriweather", serif;
  background-color: #ebf2ff;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}
.navbar_brand {
  width: 100px;
}
.navabar_img {
  width: 100%;
}
.nav_item {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}
.nav_item:hover {
  background-position: right center;
  border: 2px solid pink;
}
@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 10px 30px;
  }
}
@media (min-width: 1020px) {
  .navbar_brand {
    width: 150px;
  }
  .nav_item {
    padding: 20px;
    font-size: 20px;
  }
}
